body {
    margin: 0px;
    padding: 0px;
}

/* Шапка */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    background: url('https://unsplash.com/photos/PrKDrv-5ptQ/download?force=true&w=1920') bottom no-repeat;
    /* background: url('https://unsplash.com/photos/ig-lw0Dtz34/download?force=true&w=1920') bottom no-repeat; */
    background-size: cover;
}

h1 {
    color: #FFBB40;
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
}

/* Блок новостей */
.news {
    background-color: #fff;
}

article:nth-of-type(even) {
    background-color: #E0E8F4
}

/* новость */
article {
    width: 768px;
    margin: 0 auto 0px;
    padding: 6px 15px;
    border-bottom: 1px solid rgb(128, 128, 128);
}

article:first-of-type h2::before, article:nth-of-type(2) h2::before { 
        content: "New! ";
        color: red;
}
    
article a, p {
    color: rgb(33, 37, 41);
    text-decoration: none;
}

article a:hover {
    color: #0085a1;
}

article h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
}

.article-meta {
    color: rgb(134, 142, 150);
    margin-bottom: 5px;
}
article img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

article p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top: 5px;
}


/* Подвал */
footer {
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
}

footer .links {
    margin-bottom: 50px;
}


footer .links > a {
    color: #636B6F;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-transform: uppercase;
}

footer a:hover {
    color: #0085a1;
}

.copyright {
    color: rgb(108, 117, 125);
    font-family: 'Times New Roman', Times, serif;
}